.skicon {
	background-image: url('../images/spero-icons.png') !important;
	background-size: 80px 60px !important;
	background-position: -3px 0 !important;
}
.sk_icon_timeline {
	background-image: url('../images/timeline.png') !important;
}
.sk_icon_icon_list {
	background-image: url('../images/iconlist.png') !important;
}
.sk_icon_template-tag-content {
	background-image: url('../images/content.png') !important;
}
.sk_icon_wolfie {
	background-image: url('../images/wolfie.png') !important;
}
.sk_icon_content {
	background-image: url('../images/the-content.png') !important;
}
.sk_icon_the_title {
	background-image: url('../images/the-title.png') !important;
}
.sk_icon_the_featured_img {
	background-image: url('../images/the-featured-img.png') !important;
}
.sk_icon_the_posted_on {
	background-image: url('../images/the-posted-on.png') !important;
}
.sk_icon_the_author {
	background-image: url('../images/the-author.png') !important;
}
.sk_icon_the_category {
	background-image: url('../images/the-category.png') !important;
}
.sk_icon_the_excerpt {
	background-image: url('../images/the-excerpt.png') !important;
}
.sk_icon_breadcrumbs {
	background-image: url('../images/breadcrumbs.png') !important;
}
.mce-popover, .mce-container.mce-panel {
	z-index: 110100 !important;
}
#wpadminbar {
	z-index: 999999!important;
}
.field-base-info input {
	display:none !important;
}